# Function
snippet fn
	function ${1:function_name}(${2:argument}) {
		${0:// body...}
	}

# function as a property of module
snippet fp
	${1:function_name}: function (${2:argument}) {
		${0:// body...}
	}
